
NODE_ENV=development
SKIP_PREFLIGHT_CHECK=true
GOOGLE_TAG_MANAGER_API_KEY=your_google_tag_manager_key_here
GATSBY_MAILCHIMP_API_KEY=your_mailchimp_key_here
GATSBY_PAYSTACK_PUBLIC_KEY=your_paystack_key_here
GATSBY_BASGET_PUBLIC_KEY=your_basget_key_here
REACT_APP_API_URL=https://erp-grato-api.onrender.com/api
FRONTEND_URL=https://hub.gratoglobal.com/
REACT_APP_API_UR=https://erp-grato-api.onrender.com/api
REACT_APP_API_URLL=https://erp-grato-api.onrender.com/api